body {
    font-family: 'Montserrat', sans-serif;
}

.top_banner {
    display: flex;
    justify-content: center;
    box-shadow:    #888888;
}

.home_content img {
    display: block;
    background-size: cover;
    padding: 0;
}

.panel_content {
    padding-top: 70px;
    padding-inline: 38px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column_content{
    width: 449px;
    height: 480px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.column_content h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
}

.column_content h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
}

.column_content div {
    /* padding: 2px 16px; */
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.column_content:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.column_content img {
    /* position: absolute; */
    padding-top:37px;
    padding-left: 37px;
    padding-right: 37px;
    width: 375px;
    height: 250px;
    left: 61px;
    top: 916px;

    /* background: url(image.png); */
}


.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.45);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.copyright {
    padding-top: 23px;
    padding-bottom: 19px;
}

.socials {
    /* padding-left: 53px; */
    padding-top: 39px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* background: #A0C5E8; */
    /* padding: 10px 0; */
}

.contact_us {
    padding-right: 53px;
}

.social_logos {
    display: flex;
    flex-direction: row;
    padding-inline: 53px;
}

span {
    width: 100px;
}

div.vertical_line{
    width: 1px; /* Line width */
    background-color: rgba(0, 0, 0, 0.45); /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    display: inline-block;
}

/* Reset Stylesheet */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

h2 {
    text-align: center;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Auralina.blog */
.speech-bubble-right {
    background: #294674;
    border: 1px solid #05085b;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 650px;
    padding: 15px;
    position: relative;
    left: 275px;
    color: white;
}

.speech-bubble p {
    margin-bottom: 10px;
}

.speech-bubble-right__arrow {
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    right: 15px;
}

.speech-bubble-right__arrow::before {
    border-left: 23px solid transparent;
    border-top: 23px solid #05085b;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
}
.speech-bubble-right__arrow::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #294674;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 6px;
}

.speech-bubble-left {
    background: #FB9B50;
    border: 1px solid #FB9B50;
    border-radius: 4px;
    box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 750px;
    padding: 15px;
    position: relative;
    right: 275px;
    color: white;
}

.speech-bubble-left__arrow {
    border-right: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    left: 20px;
}

.speech-bubble-left__arrow::before {
    border-right: 23px solid transparent;
    border-top: 23px solid #FB9B50;
    bottom: 2px;
    content: "";
    position: absolute;
    left: 5px;
}
.speech-bubble-left__arrow::after {
    border-right: 21px solid transparent;
    border-top: 21px solid #FB9B50;
    bottom: 4px;
    content: "";
    position: absolute;
    left: 6px;
}